* {
    font-family: "Inter";
    margin: 0;
    padding: 0;
}

.site-header {
    background-image: url("./img/photo_2022-06-05_13-14-26_1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu {
    display: flex;
}

.menu-item {
    margin-top: 50px;
    margin-right: 50px;
    color: #FFFFFF;
    font-weight: 200;
    font-size: 24px;
}

.banner-title {
    margin-top: 50px;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 200;
}

.banner-text {
    color: #FFFFFF;
    width: 570.25px;
    height: 200px;
    margin-top: 22px;
    font-weight: 300;
    font-size: 21px;
}

.shop-btn {
    margin-top: 33px;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #B47B48;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.product-list {
    display: flex;
    justify-content: space-between;
    margin-top: 132px;
}

.product-image-4 {
    width: 50%;
}

.product-price {
    color: #FFFFFF;
}

.product-info {
    text-align: center;
    width: 50%;
}

.product { 
    background-color: #272727;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    width: 310px;
}

.buy-btn {
  background-color: #C85312;
  margin-top: 33px;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;  
}

.menu-section {
    background-image: url(/img/Rectangle\ 25.png)
}

.section-title {
    text-align: center;
    color: white;
   
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
    justify-content: space-between;
}

.menu-item {
    width: 330px;
}

.menu-item-img {
    border: 1px solid #FFFFFF;

}

.product-image-10 {
   width: 100%; 
}





    